*{
    margin: 0%;
    padding: 0%;
    font-family: 'Ubuntu', sans-serif;
}
html{
    scroll-behavior: smooth;
}
#navbar{
    display: flex;
    align-items: center;
    position: relative;
}
#navbar::before{
    content: "";
    background-color: black;
    position: absolute;
    top:0px;
    left:0px;
    height: 100%;
    width:100%;
    z-index: -1;
    opacity: 0.7;
}
.logo img{
    height: 70px;
    margin: 10px 20px;
}
#navbar ul{
    display: flex;
}
#navbar ul li{
    list-style: none;
    font-size: 25px;
}
#navbar ul li a{
    display: block;
    padding: 4px 25px;
    color: black;
    border-radius: 20px;
    text-decoration: none;
}
#navbar ul li a:hover{
    color: white;
    background-color: black;
}
#home{
    display: flex;
    flex-direction: column;
    padding: 5px 150px;
    height: 565px;
    justify-content: center;
    align-items: center;
}
#home::before{ 
    content: "";
    position: absolute;
    background: url('coverbg.jpg') no-repeat center center/cover;
    height: 642px;
    top:0px;
    left:0px;
    width: 100%;
    z-index: -1;
    opacity:0.7;
}
#home h1{
    color: black;
    text-align: center;
}
#home p{
    font-size: 25px;
    color: black;
    text-align: center;
}
.first{
    font-size: 3rem;
    padding: 15px;
}
.btn{
    font-size: 20PX;
    padding: 6px 20px;
    border: 2px solid black;
    background-color: rgb(228, 72, 137);
    margin: 18px;
}
.btn:hover{
    cursor: pointer;
}
#bhai h1{
    text-align: center;
    font-size: 40px;
}
#services{
    margin: 35px;
    display: flex;
}
#services .box{
    border: 2px solid red;
    text-align: center;
    padding: 20px;
    margin: 20px;
    border-radius: 20px;
    background-color: rgb(228, 186, 195);
}
#services .box img{
    height: 160px;
    margin: auto;
    display: block;
}


#gang::before{
    content: "";
    position: absolute;
    background: url(coverbg1.jpg) no-repeat center center/cover;
    width: 100%;
    height: 58%;
    z-index: -1;
    opacity: 0.6;
}
#gang h1{
    text-align: center;
    font-size: 40px;
}
.gangphoto{
    display: flex;
    justify-content: center;
    align-items: center;
}
.gangphoto img{
    height: 250px;
    padding: 30px;
}
.gangphoto .photo{
    padding: 20px;
}
.end{
    top: 100%;
    text-align: center;
    background-color: black;
    color: blanchedalmond;
}